<!doctype html>
<html ng-app="myApp">

<head>

  <meta charset="utf-8">
  <title>Inverted Index</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="favicon.ico" rel="icon" type="image/x-icon">
  <link href="style.css" rel="stylesheet">

</head>

<body ng-controller="MyController" ng-cloak>

  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools toolbar">
      <h2 flex class="title">Inverted Index</h2>
      <md-input-container class="md-block search-container" flex="50">
        <input class="search-input" ng-model="query">
      </md-input-container>
      <md-button class="search-btn" ng-click="showToast()">Search&nbsp</md-button>
      <div flex="20"></div>
    </div>
  </md-toolbar>
  <section layout="row" flex class="content-section">
    <md-sidenav class="md-sidenav-left side-panel" md-is-locked-open="true">
      <md-content layout-padding>
        <h4>About:</h4>
        <p>
          Inverted index is a method which is designed to allow very fast full-text searches. It consists of a list of all the unique
          words that appear in any document, and for each word, a list of the documents in which it appears. This predetermined
          lists help form an index which is queried when searching for a string of words in the documents.
        </p>
        <md-divider></md-divider>
        <h4>Usage:</h4>
        <li>Upload file(s)</li>
        <li>Select file</li>
        <li>Click 'Create Index'</li>
        <li>Enter search term(s)</li>
        <li>Click 'Search'</li>
      </md-content>
    </md-sidenav>
    <section layout="column" flex>
      <section layout="row" class="file-handler">
        <md-content layout-padding>
          <input ng-hide="true" id="input" type="file" onchange="angular.element(this).scope().storeFiles(this)" multiple accept=".json"/>
          <md-button ng-click="upload()">
            <md-icon>add_box</md-icon>&nbspUpload</md-button>
        </md-content>
        <md-content flex="40" layout-padding>
          <md-select ng-model="selectedFile" placeholder="--select file--" ng-disabled="noFilesSelected">
            <md-option ng-value="fileName" ng-repeat="fileName in fileNames">{{fileName}}</md-option>
          </md-select>
        </md-content>
        <md-content layout-padding>
          <md-button class="md-accent md-hue-2 md-raised" ng-click="createIndex()">Create Index</md-button>
        </md-content>
      </section>
      <section layout="column" flex ng-show="showIndex">
        <md-list flex>
          <md-divider></md-divider>
          <md-subheader>Index for {{selectedFile}}</md-subheader>
          <md-divider></md-divider>
          <md-list-item class="index-column index-column-header">
            <div>Tokens</div>
            <div class="column-center" ng-repeat="fileContent in fileContents[fileLocation]">Document {{$index + 1}}</div>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item class="index-column index-column-row" ng-repeat="word in words">
            <div>{{word}}</div>
            <div class="column-center" ng-repeat="fileContent in fileContents[fileLocation]">
              <md-icon class="index-found-tick" ng-show="index[word].includes($index)">done</md-icon>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </section>
    </section>
  </section>

  <!-- Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Application bootstrap  -->
  <script src="inverted-index.js"></script>
  <script src="app.js"></script>

</body>

</html>
