md-content h4 {
  margin-bottom: 0;
}

md-content p {
  margin-top: 0;
  font-size: .8em;
}

md-input-container .search-input {
  margin-bottom: -27px;
  font-size: 80%;
  color: darkslategray;
}

.search-btn {
  color : rgb(49, 46, 46);
  background-color: lightgray;
  border-radius: 1px 4px 4px 1px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  padding: 0 10px;
}

.toolbar {
  padding: 0 0px;
}
